<template>
  <style>
    ux-dialog-overlay.active {
      background-color: black;
      opacity: .5;
    }

    ux-dialog-container.active .modal.fade.stick-up .modal-dialog {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -ms-transform: translate(0);
    }

    .ux-dialog-open {
      overflow: hidden;
    }

    .ux-dialog-open .modal {
      overflow-x: hidden;
      overflow-y: auto;
    }

    ux-dialog {
      padding: 0!important;
      box-shadow: none !important;
      background: transparent !important;
      border: none !important;
    }

  </style>
  <ux-dialog>
    <ux-dialog-body>
      <div class="modal fade stick-up" role="dialog" aria-hidden="true" data-backdrop="static" style="display:block">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header clearfix text-left">
              <button click.delegate="ctrl.cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                          class="pg-close fs-14"></i>
                      </button>
              <h5>${getTieuDe} <span class="semi-bold">Đầu việc</span>

              </h5>
            </div>
            <div class="modal-body">
              <div class="row  m-b-15">
                <div class="col-md-4  name m-t-5"> Tiêu đề </div>
                <div class="col-md-8 value form-group form-group-default required select2-small" >
                  <input type="text" class="form-control " name="" value.bind="item.ten & validate" >
                </div>
              </div>
              <div class="row  m-b-15">
                <div class="col-md-4  name m-t-5"> Miêu tả </div>
                <div class="col-md-8 value form-group form-group-default required select2-small">
                  <input type="text" class="form-control " name="" value.bind="item.ma & validate">
                </div>
              </div>
              <div class="row  m-b-15">
                <div class="col-md-4  name m-t-5"> Phân nhóm </div>
                <div class="col-md-8 value form-group form-group-default required select2-small">
                  <input type="text" class="form-control " name="" value.bind="item.ma & validate">
                </div>
              </div>
              <div class="row  m-b-15">
                <div class="col-md-4  name m-t-5"> Giai đoạn </div>
                <div class="col-md-8 value form-group form-group-default required select2-small">
                  <input type="text" class="form-control " name="" value.bind="item.ma & validate">
                </div>
              </div>
              <div class="row  m-b-15">
                <div class="col-md-4  name m-t-5"> Nhãn </div>
                <div class="col-md-8 value form-group form-group-default required select2-small">
                  <input type="text" class="form-control " name="" value.bind="item.ma & validate">
                </div>
              </div>
              <div class="row  m-b-15">
                <div class="col-md-4  name m-t-5"> Thời gian </div>
                <div class="col-md-8 value form-group form-group-default required select2-small">
                  <input type="text" class="form-control " name="" value.bind="item.ma & validate">
                </div>
              </div>
              <div class="text-right m-t-20">
                <button click.delegate="ctrl.cancel()" type="button" class="btn btn-danger m-t-5" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
                <button click.delegate="save()" type="submit" class="btn btn-primary  m-t-5"><i class="fa fa-check"></i> Lưu</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END MODAL STICK UP  -->


    </ux-dialog-body>
  </ux-dialog>
</template>
