<template>
  <require from="./nav.html"></require>
  <!-- BEGIN SIDEBAR -->
  <router-view></router-view>
  <!-- BEGIN SIDEBAR -->

  <nav></nav>
  <div class="page-container">
    <!-- START PAGE HEADER WRAPPER -->
    <!-- START HEADER -->
    <div class="header ">
      <!-- START MOBILE CONTROLS -->
      <div class="container-fluid relative">
        <!-- LEFT SIDE -->
        <div class="pull-left full-height visible-sm visible-xs">
          <!-- START ACTION BAR -->
          <div class="header-inner">
            <a href="#logout" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
              <span class="icon-set menu-hambuger"></span>
            </a>
          </div>
          <!-- END ACTION BAR -->
        </div>
        <div class="pull-center hidden-md hidden-lg">
          <div class="header-inner">
            <div class="brand inline">
              <!-- <img src="/../../../assets/img/logo.png" alt="logo" width="78" height="22"> -->
            </div>
          </div>
        </div>
        <!-- RIGHT SIDE -->
        <div class="pull-right full-height visible-sm visible-xs">
          <!-- START ACTION BAR -->
          <div class="header-inner">
            <a href="#" class="btn-link visible-sm-inline-block visible-xs-inline-block" data-toggle="quickview" data-toggle-element="#quickview">
              <span class="icon-set menu-hambuger-plus"></span>
            </a>
          </div>
          <!-- END ACTION BAR -->
        </div>
      </div>
      <!-- END MOBILE CONTROLS -->
      <div class=" pull-left sm-table hidden-xs hidden-sm">
        <div class="header-inner">
          <div class="brand inline">
            <!-- <img src="/../../../assets/img/logo.png" alt="logo" width="78" height="22"> -->
          </div>
          <!-- START NOTIFICATION LIST -->
          <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">
            <li class="p-r-15 inline">
              <div class="dropdown">
                <a href="javascript:;" id="notification-center" class="icon-set globe-fill" data-toggle="dropdown">
                  <span class="bubble"></span>
                </a>

              </div>
            </li>
            <li class="p-r-15 inline">
              <a href="javascript:void();" class="icon-set clip "></a>
            </li>
            <li class="p-r-15 inline">
              <a href="#" class="icon-set grid-box"></a>
            </li>
          </ul>
          <!-- END NOTIFICATIONS LIST -->
          <!-- <a href="#" class="search-link" data-toggle="search"><i class="pg-search"></i>Type anywhere to <span class="bold">search</span></a>           -->
        </div>
      </div>
      <div class=" pull-right">
        <div class="header-inner">
          <a href="#" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview"
            data-toggle-element="#quickview"></a>
        </div>
      </div>
      <div class=" pull-right">
        <!-- START User Info-->
        <div class="visible-lg visible-md m-t-10">
          <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
            <span class="semi-bold">${userInfo.userName}</span> <span class="text-master"></span>
          </div>
          <div class="dropdown pull-right">
            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <img src.bind="userInfo.image" alt="" width="32" height="32">
            </span>
              </button>
            <ul class="dropdown-menu profile-dropdown" role="menu">
              <li><a href="#"><i class="pg-settings_small"></i> Settings</a>
              </li>
              <li><a href="#"><i class="pg-outdent"></i> Feedback</a>
              </li>
              <li><a href="#"><i class="pg-signals"></i> Help</a>
              </li>
              <li class="bg-master-lighter">
                <a href="#logout" class="clearfix">
                  <span class="pull-left">Logout</span>
                  <span class="pull-right"><i class="pg-power"></i></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- END User Info-->
      </div>
    </div>
    <!-- END HEADER -->

    <!-- END PAGE HEADER WRAPPER -->
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
      <!-- START PAGE CONTENT -->
      <div class="content">
        <router-view></router-view>



      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>

    <!--<div class="page-host">
    <router-view></router-view>
  </div>-->





</template>
