<template>
  <div class="page-sidebar" data-pages="sidebar">
    <div id="appMenu" class="sidebar-overlay-slide from-top">
    </div>
    <!-- BEGIN SIDEBAR HEADER -->
    <div class="sidebar-header">
      <!-- <img src="../../../assets/img/logo_white.png" alt="logo" class="brand" data-src="../../../assets/img/logo_white.png" data-src-retina="../../../assets/img/logo_white_2x.png" -->
        width="" height="40">
      <div class="sidebar-header-controls">
        <!--<button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i>
          </button>-->
        <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
          </button>
      </div>
    </div>
    <!-- END SIDEBAR HEADER -->
    <!-- BEGIN SIDEBAR MENU -->
    <div class="sidebar-menu">
      <ul class="menu-items">

        <li class=" m-t-30 ">
          <a href="/#/admin/dashboard">
                    <span class="title">Dashboard</span>
                </a>
          <span class="icon-thumbnail "><i class="fa fa-bar-chart"></i></span>
        </li>

        <li class="  ">
          <a href="dashboard.html">
                    <span class="title">Workplace</span>
                </a>
          <span class="icon-thumbnail "><i class="fa fa-home"></i></span>
        </li>

        <li class="">
          <a href="/#/admin/quan-ly-ke-hoach">
                    <span class="title">Quản ly kế hoạch</span>
                </a>
          <span class="icon-thumbnail "><i class="fa fa-group"></i></span>
        </li>
        <li class="">
          <a href="/#/admin/quan-ly-dau-viec">
                    <span class="title">Quản lý đầu việc</span>
                </a>
          <span class="icon-thumbnail "><i class="fa fa-group"></i></span>
        </li>
   
        

      </ul>
      <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
  </div>
</template>
