<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <button click.delegate="runCreate()" class="btn btn-default btn-sm m-b-10  m-t-5 text-primary" type="button" data-toggle="modal"><i class="fa fa-file"></i> Tạo mới</button>
          <div class="row">
            <div class="col-sm-8">
              <form role="form" lpformnum="2" class="form-filter">
                  <div class="form-group long">
                    <label for="">NGÀY</label>
                    <div class="input-daterange input-group" daterangepickter >
                      <input type="text" class="form-control" name="start" value.bind="filter.where.tuNgay" datepicker><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <span class="input-group-addon">Đến</span>
                      <input type="text" class=" form-control" name="end" value.bind="filter.where.denNgay" datepicker><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <button data-loading-text="Loading" btn-async="task.call:runFilter()" class="btn btn-primary btn-cons btn-sm m-t-25" type="submit"><i class="fa fa-search"></i> Tìm kiếm</button>
                  </div>
              </form>

              
            </div>
            <div class="col-sm-12">
              <loader async-task.bind="asyncTask">
                <table class="table table-hover" aurelia-table="data.bind: items; display-data.bind: $displayData; ">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Kế hoạch</th>
                        <th>Mã kế hoạch</th>
                        <th>Miêu tả</th>
                        <th>Người tạo</th>
                        <th>Chỉ định thực hiện</th>
                        <th>Chi tiết</th>
                        <th>Ngày tạo</th>
                        <th>Cập nhật</th>
                        <th>Xem</th>
                        <th>Chức năng</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr repeat.for="item of $displayData">
                        <td>${$index+1}</td>
                        <td>${item.tenCongViec}</td>
                        <td>${item.maKeHoach}</td>
                        <td>${item.mieuTa}</td>
                        <td>${item.nguoiThucHien}</td>
                        <td>${item.nguoiThucHienKhac}</td>
                        <td>${item.chiTiets}</td>
                        <td>${item.creatDate | dateTimeFormat}</td>
                        <td>${item.lastUpdate | dateTimeFormat}</td>
                        <td><a href="javascript:void(0);" click.delegate="runView()" class="text-primary"><i class="fa fa-user-circle-o"></i> Xem</a></td>
                        <td class="v-align-middle">
                          <div class="btn-group sm-m-t-10">
                            <button click.delegate="runChiDInhGDV(item)" type="button" class="btn btn-default btn-sm text-primary"><i class="fa fa-edit"></i> Chỉ định GĐV</button>
                            <button click.delegate="runChapNhan(item)" type="button" class="btn btn-default btn-sm text-primary"><i class="fa fa-check"></i> Chấp nhận</button>
                            <button click.delegate="runTuChoi(item)" type="button" class="btn btn-default btn-sm text-danger"><i class="fa fa-trash-o"></i> Từ chối</button>
                            <button click.delegate="runUpdate(item)" type="button" class="btn btn-default btn-sm text-primary"><i class="fa fa-edit"></i> Chỉnh sửa</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                <div class="row">
                  <div class="col-md-8">
                    <aut-pagination filter-ref.bind="filter" changed.delegate="paginationChanged($event)" current-page.bind="currentPage" page-size.bind="pageSize"
                      total-items.bind="itemsCount" pagination-size.bind="5">
                    </aut-pagination>
                  </div>

                  <div class="col-md-4">
                    <div class="form-inline">
                      <div class="form-group pull-right">
                        <label for="pageSize">Page Size: </label>
                        <select value.bind="pageSize" id="pageSize" class="form-control">
                        <option model.bind="5">5</option>
                        <option selected model.bind="10">10</option>
                        <option model.bind="20">20</option>
                        <option model.bind="50">50</option>
                    </select>
                      </div>
                    </div>
                  </div>
                </div>
              </loader>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
